In [5]:
pip install -U pandas

Requirement already up-to-date: pandas in c:\users\dell\anaconda3\lib\site-packages (1.3.5)
Requirement already satisfied, skipping upgrade: pytz>=2017.3 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2018.9)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied, skipping upgrade: numpy>=1.17.3; platform_machine != "aarch64" and platform_machine != "arm64" and python_version < "3.10" in c:\users\dell\anaconda3\lib\site-packages (from pandas) (1.21.6)
Requirement already satisfied, skipping upgrade: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.12.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install --upgrade pandas

Requirement already up-to-date: pandas in c:\users\dell\anaconda3\lib\site-packages (1.3.5)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied, skipping upgrade: pytz>=2017.3 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2018.9)
Requirement already satisfied, skipping upgrade: numpy>=1.17.3; platform_machine != "aarch64" and platform_machine != "arm64" and python_version < "3.10" in c:\users\dell\anaconda3\lib\site-packages (from pandas) (1.21.6)
Requirement already satisfied, skipping upgrade: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.12.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd

In [7]:
pd. __version__

'1.3.5'

In [9]:
data = pd.read_csv('Heart.csv')
data.head(4)

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No

In [10]:
# convert DataFrame to excel
data.to_excel('Sample.xlsx')

In [12]:
# convert itn into the dictionary
#data.to_dict()

In [13]:
# check data type of each column
data.dtypes

Unnamed: 0      int64
Age             int64
Sex             int64
ChestPain      object
RestBP          int64
Chol            int64
Fbs             int64
RestECG         int64
MaxHR           int64
ExAng           int64
Oldpeak       float64
Slope           int64
Ca            float64
Thal           object
AHD            object
dtype: object

In [14]:
# in DataFrame columns with str data and hetriginius is treated as object data type
data.head(10)

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
5,6,56,1,nontypical,120,236,0,0,178,0,0.8,1,0.0,normal,No
6,7,62,0,asymptomatic,140,268,0,2,160,0,3.6,3,2.0,normal,Yes
7,8,57,0,asymptomatic,120,354,0,0,163,1,0.6,1,0.0,normal,No
8,9,63,1,asymptomatic,130,254,0,2,147,0,1.4,2,1.0,reversable,Yes
9,10,53,1,asymptomatic,140,203,1,2,155,1,3.1,3,0.0,reversable,Yes

In [15]:
# select columns with specific datatypes
data.select_dtypes('float')

     Oldpeak   Ca
0        2.3  0.0
1        1.5  3.0
2        2.6  2.0
3        3.5  0.0
4        1.4  0.0
..       ...  ...
298      1.2  0.0
299      3.4  2.0
300      1.2  1.0
301      0.0  1.0
302      0.0  NaN

[303 rows x 2 columns]

In [16]:
data.select_dtypes('int')

     Unnamed: 0  Age  Sex  RestBP  Chol  Fbs  RestECG  MaxHR  ExAng  Slope
0             1   63    1     145   233    1        2    150      0      3
1             2   67    1     160   286    0        2    108      1      2
2             3   67    1     120   229    0        2    129      1      2
3             4   37    1     130   250    0        0    187      0      3
4             5   41    0     130   204    0        2    172      0      1
..          ...  ...  ...     ...   ...  ...      ...    ...    ...    ...
298         299   45    1     110   264    0        0    132      0      2
299         300   68    1     144   193    1        0    141      0      2
300         301   57    1     130   131    0        0    115      1      2
301         302   57    0     130   236    0        2    174      0      2
302         303   38    1     138   175    0        0    173      0      1

[303 rows x 10 columns]

In [17]:
data.select_dtypes('number')

,Unnamed: 0,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca
0,1,63,1,145,233,1,2,150,0,2.3,3,0.0
1,2,67,1,160,286,0,2,108,1,1.5,2,3.0
2,3,67,1,120,229,0,2,129,1,2.6,2,2.0
3,4,37,1,130,250,0,0,187,0,3.5,3,0.0
4,5,41,0,130,204,0,2,172,0,1.4,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
298,299,45,1,110,264,0,0,132,0,1.2,2,0.0
299,300,68,1,144,193,1,0,141,0,3.4,2,2.0
300,301,57,1,130,131,0,0,115,1,1.2,2,1.0
301,302,57,0,130,236,0,2,174,0,0.0,2,1.0
302,303,38,1,138,175,0,0,173,0,0.0,1,NaN

In [18]:
# need to select object type columns  # catagorical column
data.select_dtypes('object')

        ChestPain        Thal  AHD
0         typical       fixed   No
1    asymptomatic      normal  Yes
2    asymptomatic  reversable  Yes
3      nonanginal      normal   No
4      nontypical      normal   No
..            ...         ...  ...
298       typical  reversable  Yes
299  asymptomatic  reversable  Yes
300  asymptomatic  reversable  Yes
301    nontypical      normal  Yes
302    nonanginal      normal   No

[303 rows x 3 columns]

In [19]:
data[:2]

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes

In [20]:
# convert chol data type int to float
data['Chol'].astype('float')

0      233.0
1      286.0
2      229.0
3      250.0
4      204.0
       ...
298    264.0
299    193.0
300    131.0
301    236.0
302    175.0
Name: Chol, Length: 303, dtype: float64

In [21]:
# if we want to permanat change in 'Chol' column
data['Chol'] = data['Chol'].astype('float')

In [23]:
# if we want to add a new column
data['new_Chol'] = data['Chol'].astype('float')

In [24]:
data

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD,new_Chol
0,1,63,1,typical,145,233.0,1,2,150,0,2.3,3,0.0,fixed,No,233.0
1,2,67,1,asymptomatic,160,286.0,0,2,108,1,1.5,2,3.0,normal,Yes,286.0
2,3,67,1,asymptomatic,120,229.0,0,2,129,1,2.6,2,2.0,reversable,Yes,229.0
3,4,37,1,nonanginal,130,250.0,0,0,187,0,3.5,3,0.0,normal,No,250.0
4,5,41,0,nontypical,130,204.0,0,2,172,0,1.4,1,0.0,normal,No,204.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299,45,1,typical,110,264.0,0,0,132,0,1.2,2,0.0,reversable,Yes,264.0
299,300,68,1,asymptomatic,144,193.0,1,0,141,0,3.4,2,2.0,reversable,Yes,193.0
300,301,57,1,asymptomatic,130,131.0,0,0,115,1,1.2,2,1.0,reversable,Yes,131.0
301,302,57,0,nontypical,130,236.0,0,2,174,0,0.0,2,1.0,normal,Yes,236.0
302,303,38,1,nonanginal,138,175.0,0,0,173,0,0.0,1,NaN,normal,No,175.0

In [25]:
# in ChestPain column check for unique entries
data.ChestPain.unique()

array(['typical', 'asymptomatic', 'nonanginal', 'nontypical'],
      dtype=object)

In [26]:
# count unique entries present in the column
data.ChestPain.nunique()

4

In [27]:
# check the count for each unique catagory
data.ChestPain.value_counts()

asymptomatic    144
nonanginal       86
nontypical       50
typical          23
Name: ChestPain, dtype: int64

In [28]:
data.Sex.unique()

array([1, 0], dtype=int64)

In [29]:
data[['Sex','ChestPain']].value_counts()

Sex  ChestPain
1    asymptomatic    104
     nonanginal       51
0    asymptomatic     40
     nonanginal       35
1    nontypical       32
     typical          19
0    nontypical       18
     typical           4
dtype: int64

In [30]:
# As Sex column contains numeric data and for analysis purppose i want to back convert back to catogary
# e.g male = 0 and female = 1
data.Sex.map({0:'male',1:'female'})

0      female
1      female
2      female
3      female
4        male
        ...
298    female
299    female
300    female
301      male
302    female
Name: Sex, Length: 303, dtype: object

In [31]:
# another way to using it apply
# apply(functions)
data.Sex.apply(lambda gender:'Male' if gender==0 else 'Female')

0      Female
1      Female
2      Female
3      Female
4        Male
        ...
298    Female
299    Female
300    Female
301      Male
302    Female
Name: Sex, Length: 303, dtype: object

In [32]:
# How to delete the column/s
data.head(4) 
# unnamed column not required

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD,new_Chol
0,1,63,1,typical,145,233.0,1,2,150,0,2.3,3,0.0,fixed,No,233.0
1,2,67,1,asymptomatic,160,286.0,0,2,108,1,1.5,2,3.0,normal,Yes,286.0
2,3,67,1,asymptomatic,120,229.0,0,2,129,1,2.6,2,2.0,reversable,Yes,229.0
3,4,37,1,nonanginal,130,250.0,0,0,187,0,3.5,3,0.0,normal,No,250.0

In [33]:
# remove unnamed:0 column
data.drop(columns=['Unnamed: 0']) # temporary delet the column if we want to permanat delet then use inplace = True

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD,new_Chol
0,63,1,typical,145,233.0,1,2,150,0,2.3,3,0.0,fixed,No,233.0
1,67,1,asymptomatic,160,286.0,0,2,108,1,1.5,2,3.0,normal,Yes,286.0
2,67,1,asymptomatic,120,229.0,0,2,129,1,2.6,2,2.0,reversable,Yes,229.0
3,37,1,nonanginal,130,250.0,0,0,187,0,3.5,3,0.0,normal,No,250.0
4,41,0,nontypical,130,204.0,0,2,172,0,1.4,1,0.0,normal,No,204.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45,1,typical,110,264.0,0,0,132,0,1.2,2,0.0,reversable,Yes,264.0
299,68,1,asymptomatic,144,193.0,1,0,141,0,3.4,2,2.0,reversable,Yes,193.0
300,57,1,asymptomatic,130,131.0,0,0,115,1,1.2,2,1.0,reversable,Yes,131.0
301,57,0,nontypical,130,236.0,0,2,174,0,0.0,2,1.0,normal,Yes,236.0
302,38,1,nonanginal,138,175.0,0,0,173,0,0.0,1,NaN,normal,No,175.0

In [36]:
# add 0:302 before ChestPain 
data.insert(3,column='ABC',value=range(303))   # 303 bacause we have those many records in each column

ValueError: cannot insert ABC, already exists

In [37]:
data

,Unnamed: 0,Age,Sex,ABC,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD,new_Chol
0,1,63,1,0,typical,145,233.0,1,2,150,0,2.3,3,0.0,fixed,No,233.0
1,2,67,1,1,asymptomatic,160,286.0,0,2,108,1,1.5,2,3.0,normal,Yes,286.0
2,3,67,1,2,asymptomatic,120,229.0,0,2,129,1,2.6,2,2.0,reversable,Yes,229.0
3,4,37,1,3,nonanginal,130,250.0,0,0,187,0,3.5,3,0.0,normal,No,250.0
4,5,41,0,4,nontypical,130,204.0,0,2,172,0,1.4,1,0.0,normal,No,204.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299,45,1,298,typical,110,264.0,0,0,132,0,1.2,2,0.0,reversable,Yes,264.0
299,300,68,1,299,asymptomatic,144,193.0,1,0,141,0,3.4,2,2.0,reversable,Yes,193.0
300,301,57,1,300,asymptomatic,130,131.0,0,0,115,1,1.2,2,1.0,reversable,Yes,131.0
301,302,57,0,301,nontypical,130,236.0,0,2,174,0,0.0,2,1.0,normal,Yes,236.0
302,303,38,1,302,nonanginal,138,175.0,0,0,173,0,0.0,1,NaN,normal,No,175.0